{% extends "consumerViews/layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

{% endblock %}
{% block left_area %}
    <article class="message is-light">
        <div class="message-header">
            <p>Popular Campaigns</p>
        </div>
        <div class="message-body">
            You can see most popular campaigns and their order counts of
            <b>all Co-Food users!</b>
        </div>
    </article>
    <article class="panel is-light">
        <p class="panel-heading">
            Most Popular Campaigns - Order Count
        </p>
        {% if popularcampaigns %}
            {% for campaign in popularcampaigns %}
                <a class="panel-block">
        <span class="panel-icon">
            <i class="fas fa-utensils"></i>
        </span>
                    {{ campaign['menuname'] }} - {{ campaign['count'] }}
                </a>
            {% endfor %}
        {% endif %}
    </article>

{% endblock %}
{% block middle %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Campaigns
                </h1>
                <h2 class="subtitle">
                    You can reach all campaigned menus that are available for you.
                </h2>
            </div>
        </div>
    </section>
    {% if campaigns %}
    {% for i in campaigns %}
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4"><a
                                href="{{ url_for('restaurant_details', restaurantId = i['restaurantid']) }}">
                            {{ i['name'] }}</a></p>
                        <b>Restaurant Name:</b> {{ i['restaurantname'] }}<br>
                        <b>Price:</b> {{ i['price'] }} TL<br>
                        <b>Menu Description:</b> {{ i['content'] }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endif %}

{% endblock %}
{% block right_area %}
    <article class="panel is-light" style="margin-top: 10px;">
        <p class="panel-heading">
            Search Campaign
        </p>
        <form action="" method="post" name="restaurants">
            {% from "_formhelper.html" import render_field %}
            {{ form.csrf_token }}
            <div class="panel-block">
                <div class="field">
                    <label class="label">Menu Name</label>
                    <div class="control">
                        {{ render_field(form.menuname, class='input is-danger', placeholder="Menu Name") }}
                    </div>
                </div>
            </div>
            <div class="panel-block">
                <div class="field">
                    <label class="label">Categories</label>
                    <div class="select">
                        {{ render_field(form.categories) }}
                    </div>
                </div>
            </div>
            <div class="panel-block">
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-danger">Submit</button>
                    </div>
                    <div class="control">
                        <a href="/campaigns" class="button is-link is-light">Reset Filter</a>
                    </div>
                </div>
            </div>
        </form>
    </article>
{% endblock %}