{% extends "consumerViews/layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

{% endblock %}
{% block left_area %}
    <article class="panel is-light">
        <p class="panel-heading">
            Most Popular Campaigns
        </p>
        {% for restaurant in range(1,10) %}
            <a class="panel-block">
        <span class="panel-icon">
            <i class="fas fa-utensils"></i>
        </span>
                Campaign-{{ restaurant }}
            </a>
        {% endfor %}
    </article>

{% endblock %}
{% block middle %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Campaigns
                </h1>
                <h2 class="subtitle">
                    You can reach all campaigned menus that are available for you.
                </h2>
            </div>
        </div>
    </section>
    {% for i in campaigns %}
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4"><a href="{{url_for('restaurant', restaurantId = i['restaurantId'])}}">{{ i['name'] }}</a></p>
                        {{ i['restaurantName'] }}<br>
                        Price: {{ i['price'] }} TL<br>
                        Content: {{ i['content'] }}
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}
{% block right_area %}
    <article class="panel is-light" style="margin-top: 10px;">
        <p class="panel-heading">
            Search Campaign
        </p>
        <div class="panel-block">
            <p class="control has-icons-left">
                <input class="input is-danger" type="text" placeholder="Menu Name">
                <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
                </span>
            </p>
        </div>
        <div class="panel-block">
            <div class="field">
                <label class="label">Category</label>
                <div class="control">
                    <div class="select">
                        <select>
                            <option>Categories</option>
                            <option>Category-1</option>
                            <option>Category-2</option>
                            <option>Category-3</option>
                            <option>Category-4</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-block">
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-danger">Submit</button>
                </div>
                <div class="control">
                    <button class="button is-link is-light">Reset Filter</button>
                </div>
            </div>
        </div>
    </article>
{% endblock %}