{% extends "consumerViews/layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

{% endblock %}
{% block left_area %}
    <article class="panel is-light">
        <p class="panel-heading">
            Your Favorite Menus
        </p>
        {% if menus %}
            {% for menu in menus %}
                <a class="panel-block">
        <span class="panel-icon">
            <i class="fas fa-utensils"></i>
        </span>
                    {{ menu['menuname'] }} - {{ menu['count'] }}
                </a>
            {% endfor %}
        {% endif %}
    </article>

{% endblock %}
{% block middle %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Order History
                </h1>
                <h2 class="subtitle">
                    You can find past orders and your analysis.
                </h2>
            </div>
        </div>
    </section>
    {% if history %}
        {% for item in history %}
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        <a style="color:white;"
                           href="restaurant/{{ item['restaurantid'] }}">{{ item['restaurantname'] }}</a> -
                        {{ item['menuname'] }}
                    </p>
                </header>
                <div class="card-content">
                    <ol style="margin-left: 10px;" type="1">
                        {% if friends.get(item['ordercontentid']|string) %}
                            {% for friend in friends.get(item['ordercontentid']|string) %}
                                <li><b>Name: </b>{{ friend['username'] }}</li>
                            {% endfor %}
                        {% endif %}
                    </ol>
                    <br>
                    <b>Current Price: </b>{{ item['price'] }} TL <br>
                    <b>Order Date: </b>
                    <time datetime="2016-1-1">{{ item['ordertime'].strftime("%d/%m/%Y, %H:%M:%S") }}</time>
                </div>
                <footer class="card-footer">
                    <a href="/order/{{ item['menuid'] }}" class="card-footer-item">Order Again</a>
                </footer>
            </div>

        {% endfor %}
    {% endif %}

{% endblock %}
{% block right_area %}
    <article class="panel is-light">
        <p class="panel-heading">
            Your Favorite Restaurants
        </p>
        {% if restaurants %}
            {% for restaurant in restaurants %}
                <a class="panel-block">
        <span class="panel-icon">
            <i class="fas fa-utensils"></i>
        </span>
                    {{ restaurant['restaurantname'] }} - {{ restaurant['count'] }}
                </a>
            {% endfor %}
        {% endif %}
    </article>


{% endblock %}