{% extends "consumerViews/layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<script>
document.getElementById("friendnumber").addEventListener("change", price);

function price() {
  var x = document.getElementById("friendnumber").value;
  var newprice =  parseFloat({{ menu['price'] }}) / parseInt(x+1);
  document.getElementById("individual").innerHTML = "<b> Individual Price:</b> " +newprice+"TL";
}
</script>
{% endblock %}
{% block left_area %}
    <article class="panel is-light">
        <p class="panel-heading">
            {{ menu['name'] }}
        </p>
        <p class="panel-block"><b>Description: </b>{{ menu['description'] }}</p>
        <p class="panel-block"><b>Price: </b> {{ menu['price'] }}TL</p>
    </article>

{% endblock %}
{% block middle %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Order-Details
                </h1>
                <h2 class="subtitle">
                    {{ restaurant['restaurantname'] }}
                </h2>
            </div>
        </div>
    </section>
    <div class="column">
        <form action="" method="post" name="save">
            {% from "_formhelper.html" import render_field %}
            {{ form.csrf_token }}
            <div class="field">
                <label class="label">Address</label>
                <div class="control">
                    {{ render_field(form.address, class='textarea', rows="3", placeholder="Descriptiom") }}
                </div>
            </div>
            <div class="field">
                <label class="label">Mutual Friend Number</label>
                <div class="select">
                    {{ render_field(form.friendnumber) }}
                </div>
            </div>
            {% if message %}
                <h2 style="color:red">{{ message }}</h2>
            {% endif %}
            <div class="field">
                <label id="individual"><b>Individual Price:</b> {{ menu['price'] }}TL</label>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Order</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}



{% block right_area %}

{% endblock %}