<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All-Food - Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='registeration.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/d490a62249.js" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/homepage">
            <img src="{{ url_for('static', filename='images/logo.png') }}" style="width:150px; height:75px;">
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light" href="/">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="columns" style="margin-top: 10px;">
    <div class="column is-one-quarter">

    </div>
    <div class="column">
        <form action="" method="post" name="register">
            {{ form.csrf_token }}
            <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" name="username" type="text" placeholder="Username">
                    <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                </div>
            </div>

            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="email" name="email" placeholder="Email input" placeholder="food@uni.com.tr">
                    <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" name="password" type="password" placeholder="Password">
                </div>
            </div>
            <div class="field">
                <label class="label">University</label>
                <div class="control">
                    <div class="select" >
                        <select name="university">
                            <option>Select university</option>
                            {% for uni in universities %}
                                <option value="{{ uni.id }}">{{ uni.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>


            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" name="agree">
                        I agree to the <a href="#">terms and conditions</a>
                    </label>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Register</button>
                </div>
            </div>
        </form>
    </div>

    <div class="column is-one-quarter">
        <div class="container">

        </div>

    </div>
</div>


<footer style="text-align: center;">
    <small>&copy; 2020, Başar Demir</small>
</footer>
</body>
</html>
