<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All-Food - Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='registeration.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/d490a62249.js" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/homepage">
            <img src="{{ url_for('static', filename='images/logo.png') }}" style="width:150px; height:75px;">
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light" href="/">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="columns" style="margin-top: 10px;">
    <div class="column is-one-quarter">

    </div>
    <div class="column">
        <form action="" method="post" name="register">
            {% from "_formhelper.html" import render_field %}
            {{ form.csrf_token }}
            <div class="field">
                <label class="label">Role</label>
                <div class="select">
                    {{ render_field(form.role) }}
                </div>
            </div>
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    {{ render_field(form.username, class='input', placeholder="Username") }}
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    {{ render_field(form.email, class='input', placeholder="Email") }}
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    {{ render_field(form.password, class='input', placeholder="Password") }}
                </div>
            </div>
            <div class="field">
                <label class="label">Role</label>
                <div class="select">
                    {{ render_field(form.university) }}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    I agree to the <a href="#">terms and conditions</a>
                    {{ render_field(form.agree, class='checkbox') }}
                </div>
            </div>
            {% for message in messages %}
            <h2 style="color:red">{{ message }}</h2>
            {% endfor %}
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Register</button>
                </div>
            </div>
        </form>
    </div>

    <div class="column is-one-quarter">
        <div class="container">

        </div>

    </div>
</div>


<footer style="text-align: center;">
    <small>&copy; 2020, Başar Demir</small>
</footer>
<script>
    function roleChanged() {
        var x = document.getElementById("selectRole").value;
        if (x == 0) {
            document.getElementById("userLabel").innerHTML = "Username";
            document.getElementById("univesity").hidden = false;
        } else {
            document.getElementById("userLabel").innerHTML = "Restaurant Name";
            document.getElementById("univesity").hidden = true;
        }
    }

</script>
</body>
</html>
