{% extends "consumerViews/layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

{% endblock %}
{% block left_area %}
    <article class="panel is-light">
        <p class="panel-heading">
            Most Popular Menus
        </p>
        {% for menu in range(1,5) %}
            <a class="panel-block">
        <span class="panel-icon">
            <i class="fas fa-utensils"></i>
        </span>
                Menu-{{ menu }}
            </a>
        {% endfor %}
    </article>

{% endblock %}
{% block middle %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{ restaurant_info['restaurant'][0][1] }}
                </h1>
                <h2 class="subtitle">
                    {{ restaurant_info['restaurant'][0][2] }}
                </h2>
            </div>
        </div>
    </section>
    {% for i in restaurant_info['menus'] %}
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    {{ i[1] }} <br>
                    Price: {{ i[0] }} TL
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    {{ i[2] }}
                </div>
            </div>
            <footer class="card-footer">
                <a href="/order" class="card-footer-item">Order</a>
            </footer>
        </div>

    {% endfor %}

{% endblock %}
{% block right_area %}
    <article class="message is-light">
        <div class="message-header">
            <p>Comment Restaurant</p>
        </div>
        <div class="message-body">
            Leaving comments is important to improve our service quality. Please write your thoughts about this
            restaurant.
        </div>
    </article>
        <div class="field">
        <label class="label">Message</label>
        <div class="control">
            <textarea class="textarea" placeholder="Write your comment."></textarea>
        </div>
    </div>
    <div class="field">
        <div class="control"><label class="label">Rate</label>
            {% for rate in range (1,6) %}
                <label class="radio">
                    <input type="radio" name="question">
                    {{ rate }}
                </label>
            {% endfor %}
        </div>
    </div>




    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Submit</button>
        </div>
    </div>

    <label class="label">Comments and Rates</label>
    {% for comment in range(5) %}
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Username-{{ comment }}
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                    <br>
                    Rate : 1/5
                </div>
            </div>

        </div>
    {% endfor %}
{% endblock %}