{% extends "consumerViews/layout.html" %}
{% block title %}Restaurant{% endblock %}
{% block content %}
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById("rate-5").checked = true;
        });
    </script>
    <style>
        .side-by-side {
            width: 100%;
        }

        .side-by-side li {
            display: inline;
            margin-right: 5%;
        }
    </style>
{% endblock %}
{% block left_area %}
    <article class="message is-light">
        <div class="message-header">
            <p>Popular Menus</p>
        </div>
        <div class="message-body">
            You can see most popular menus and their order counts of
            <b>{{ restaurant_info['restaurant']['restaurantname'] }}</b>
        </div>
    </article>
    <article class="panel is-light">
        <p class="panel-heading">
            Most Popular Menus - Order Counts
        </p>
        {% if popularmenus %}
            {% for menu in popularmenus %}
                <a class="panel-block">
        <span class="panel-icon">
            <i class="fas fa-utensils"></i>
        </span>
                    {{ menu['menuname'] }} - {{ menu['count'] }}
                </a>
            {% endfor %}
        {% endif %}
    </article>

{% endblock %}
{% block middle %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{ restaurant_info['restaurant']['restaurantname'] }}
                </h1>
                <h2 class="subtitle">
                    {{ restaurant_info['restaurant']['name'] }} <br>
                    Phone Number: {{ restaurant_info['restaurant']['phonenumber'] }}
                </h2>
            </div>
        </div>
    </section>
    {% if restaurant_info['campaigns'] %}
        {% for i in restaurant_info['campaigns'] %}
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title ">
                        <span style="margin-right:10px;"><i class="fas fa-fire"></i></span>{{ i['name'] }}
                        <br>
                        Price: {{ i['price'] }} TL
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <b>Description: </b>{{ i['description'] }} <br>
                        <b>Ingredients: </b>{{ i['ingredients'] }}
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="/order/{{ i['id'] }}" class="card-footer-item">Order</a>
                </footer>
            </div>

        {% endfor %}
    {% endif %}
    {% if restaurant_info['menus'] %}
        {% for i in restaurant_info['menus'] %}
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        {{ i['name'] }} <br>
                        Price: {{ i['price'] }} TL
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        {{ i['description'] }}
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="/order/{{ i['id'] }}" class="card-footer-item">Order</a>
                </footer>
            </div>

        {% endfor %}
    {% endif %}

{% endblock %}
{% block right_area %}
    {% if restaurant_info['restaurant']['menupdf'] %}
        <article class="message is-light">
            <div class="message-body">
                <div class="panel-block">
                    <div class="control has-text-centered">
                        <a target="_blank" href="/student/menu/pdf/download/{{ restaurant_info['restaurant'] }}"
                           class="button is-link is-medium is-fullwidth is-danger">Download Menu PDF</a>
                    </div>
                </div>
            </div>
        </article>
    {% endif %}
    <article class="message is-light">
        <div class="message-header">
            <p>Comment Restaurant</p>
        </div>
        <div class="message-body">
            Leaving comments is important to improve our service quality. Please write your thoughts about this
            restaurant.
        </div>
    </article>
    <form action="" method="post" name="save">
        {% from "_formhelper.html" import render_field %}
        {{ commentform.csrf_token }}
        <div class="field">
            <label class="label">Menu Name</label>
            <div class="control">
                {{ render_field(commentform.rate,style="display: inline",class='radio side-by-side', placeholder="Menu Name") }}
            </div>
        </div>
        <div class="field">
            <label class="label">Menu Description</label>
            <div class="control">
                {{ render_field(commentform.comment, class='textarea', rows="3", placeholder="Write your comment here") }}
            </div>
        </div>
        {% if message %}
            <h2 style="color:red">{{ message }}</h2>
        {% endif %}
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link">Add</button>
            </div>
        </div>
    </form>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Comments and Rates
                </h1>
            </div>
        </div>
    </section>
    {% if comments %}
        {% for comment in comments %}
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Username-{{ comment['username'] }}
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <b>Rate:</b> {{ comment['rate'] }}/5
                        <br>
                        <b>Description:</b> {{ comment['description'] }}
                    </div>
                </div>

            </div>
        {% endfor %}
    {% endif %}
{% endblock %}