{% extends "consumerViews/layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById("university").value = {{user['universityid']}};
            document.getElementById("passchange").checked = false;
        });

        function passwordChange() {
            if (document.getElementById("passchange").checked) {
                document.getElementById("passwordfield").classList.remove("is-hidden");
            } else {
                document.getElementById("passwordfield").classList.add("is-hidden");
            }
        }
        {% if success %}
            document.addEventListener("DOMContentLoaded", function (event) {
                document.getElementById("modal").classList.add("is-active");
            });
            function closeModal() {
                document.getElementById("modal").classList.remove("is-active");
            }
        {% endif %}
    </script>
{% endblock %}
{% block left_area %}

{% endblock %}
{% block middle %}
    <div id="modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                {% if success %}
                    <p class="modal-card-title">Success</p>
                {% endif %}
            </header>
            <section class="modal-card-body">
                {% if success %}
                    You have successfully update your profile!
                {% endif %}
            </section>
            <footer class="modal-card-foot">
                <button id="close" onclick="closeModal()" class="button">Close</button>
            </footer>
        </div>
    </div>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Settings
                </h1>
                <h2 class="subtitle">
                    You can change your account information.
                </h2>
            </div>
        </div>
    </section>
    <div class="column">
        <form action="" method="post" name="register">
            {% from "_formhelper.html" import render_field %}
            {{ form.csrf_token }}
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    {{ render_field(form.username, value=user.username , class='input', placeholder="Username") }}
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    {{ render_field(form.email, value=user.email , class='input', placeholder="Email") }}
                </div>
            </div>

            <label class="checkbox">
                {{ render_field(form.passwordchange,id="passchange", class='checkbox', onclick="passwordChange()") }}
                Change Password?
            </label>
            <div id="passwordfield" class="field is-hidden">
                <label class="label" hidden>Password</label>
                <div class="control">
                    {{ render_field(form.password, class='input', placeholder="Password") }}
                </div>
            </div>
            <div class="field">
                <label class="label">University</label>
                <div class="select">
                    {{ render_field(form.university) }}
                </div>
            </div>
            {% for message in messages %}
                <h2 style="color:red;margin-bottom: 10px;">{{ message }}</h2>
            {% endfor %}
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Save</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block right_area %}

{% endblock %}