{% extends "ownerViews/ownerlayout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById("description").innerHTML = '{{menu.description}}';
            document.getElementById("ingredients").innerHTML = '{{menu.ingredients}}';
            if ('{{menu.iscampaign}}' === 'True') {
                document.getElementById("campaign").checked = true;
            }
        });
    </script>
{% endblock %}
{% block left_area %}
{% endblock %}
{% block middle %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Edit Menu
                </h1>
            </div>
        </div>
    </section>
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <form action="" method="post" name="save">
                        {% from "_formhelper.html" import render_field %}
                        {{ form.csrf_token }}
                        <div class="field">
                            <label class="label">Menu Name</label>
                            <div class="control">
                                {{ render_field(form.name, value=menu.name ,class='input', placeholder="Menu Name") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Menu Price</label>
                            <div class="control">
                                {{ render_field(form.price,value=menu.price, min="0",type="number",step="0.01", class='number') }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Menu Description</label>
                            <div class="control">
                                {{ render_field(form.description, class='textarea', rows="3", placeholder="Description") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Menu Ingredients</label>
                            <div class="control">
                                {{ render_field(form.ingredients, class='textarea', rows="3", placeholder="Ingredients") }}
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                {{ render_field(form.campaign, class="is-large checkbox") }} Has Campaign?
                            </div>
                        </div>
                        {% if message %}
                            <h2 style="color:red">{{ message }}</h2>
                        {% endif %}
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block right_area %}

{% endblock %}