<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/d490a62249.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="columns">
    <div style="margin-left: 2px; border-right:dashed;"  class="column is-one-quarter">
        <aside class="menu">
            <p class="menu-label">
                Admin Menu
            </p>
            <ul class="menu-list">
                <li><a>Manage Categories</a></li>
                <li><a>Manage Universities</a></li>
                <li><a>Manage Restaurants</a></li>
            </ul>
        </aside>
    </div>
</div>
</body>
</html>