{% extends "adminViews/adminlayout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

{% endblock %}
{% block left_area %}
{% endblock %}
{% block middle %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Categories
                </h1>
            </div>
        </div>
    </section>
    {% if message %}
        <h2 style="color:red">{{ message }}</h2>
    {% endif %}
    {% for i in categories %}
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        {{ i.name }}<br>
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <a href="/admin/category/delete/{{ i.id }}" class="card-footer-item">Delete</a>
                <a href="/admin/category/edit/{{ i.id }}" class="card-footer-item">Edit</a>
            </footer>
        </div>

    {% endfor %}

{% endblock %}
{% block right_area %}
    <article class="message is-light">
        <div class="message-header">
            <p>Add New Category</p>
        </div>
        <div class="message-body">
            <div class="panel-block">
                <div class="field is-grouped">
                    <div class="control">
                        <a href="/admin/category/add" class="button is-link is-danger">Add</a>
                    </div>
                </div>
            </div>
        </div>
    </article>

{% endblock %}