{% extends "adminViews/adminlayout.html" %}
{% block title %}Edit Category{% endblock %}
{% block content %}

{% endblock %}
{% block left_area %}
{% endblock %}
{% block middle %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Category
                </h1>
            </div>
        </div>
    </section>
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <form action="" method="post" name="save">
                        {% from "_formhelper.html" import render_field %}
                        {{ form.csrf_token }}
                        <div class="field">
                            <label class="label">Category Name</label>
                            <div class="control">
                                {{ render_field(form.name,value=category.name,class='input', placeholder="Username") }}
                            </div>
                        </div>
                        {% if message %}
                            <h2 style="color:red">{{ message }}</h2>
                        {% endif %}
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Related Restaurants
                </h1>
            </div>
        </div>
    </section>
    {% if restaurants %}
        {% for restaurant in restaurants %}
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <div class="field">
                                <b>Name:</b> {{ restaurant.name }}<br>
                                <b>Email:</b> {{ restaurant.email }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
{% block right_area %}

{% endblock %}