{% extends "adminViews/adminlayout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

{% endblock %}
{% block left_area %}
{% endblock %}
{% block middle %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Menus
                </h1>
            </div>
        </div>
    </section>
    {% if message %}
        <h2 style="color:red">{{ message }}</h2>
    {% endif %}
    {% if menus %}
        {% for menu in menus %}
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <b>Name: </b>{{ menu['name'] }}<br>
                            <b>Restaurant Name: </b>{{ menu['restaurantname'] }}
                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="/admin/menu/delete/{{ menu['id'] }}" class="card-footer-item">Delete</a>
                    <a href="/admin/menu/edit/{{ menu['id'] }}" class="card-footer-item">Edit</a>
                </footer>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
{% block right_area %}
    <article class="message is-light">
        <div class="message-header">
            <p>Add New Menu</p>
        </div>
        <div class="message-body">
            <div class="panel-block">
                <div class="field is-grouped">
                    <div class="control">
                        <a href="/admin/menu/add" class="button is-link is-danger">Add</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}