{% extends "adminViews/adminlayout.html" %}
{% block title %}Universities{% endblock %}
{% block content %}
    <script>
        {% if  error or success %}
            document.addEventListener("DOMContentLoaded", function (event) {
                document.getElementById("modal").classList.add("is-active");
            });
            function closeModal() {
                document.getElementById("modal").classList.remove("is-active");
            }
        {% endif %}
    </script>
{% endblock %}
{% block left_area %}
{% endblock %}
{% block middle %}
    <div id="modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                {% if success %}
                    <p class="modal-card-title">Success</p>
                {% endif %}
                {% if error %}
                    <p class="modal-card-title">Error</p>
                {% endif %}
            </header>
            <section class="modal-card-body">
                {% if error %}
                    Some error occured.
                {% endif %}
                {% if success %}
                    You have successfully made change.
                {% endif %}
            </section>
            <footer class="modal-card-foot">
                <button id="close" onclick="closeModal()" class="button">Close</button>
            </footer>
        </div>
    </div>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Universities
                </h1>
            </div>
        </div>
    </section>
    {% if message %}
        <h2 style="color:red">{{ message }}</h2>
    {% endif %}
    {% if universities %}
        {% for i in universities %}
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            {{ i.name }}<br>
                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="/admin/university/delete/{{ i.id }}" class="card-footer-item">Delete</a>
                    <a href="/admin/university/edit/{{ i.id }}" class="card-footer-item">Edit</a>
                </footer>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
{% block right_area %}
    <article class="message is-light">
        <div class="message-header">
            <p>Add New University</p>
        </div>
        <div class="message-body">
            <div class="panel-block">
                <div class="field is-grouped">
                    <div class="control">
                        <a href="/admin/university/add" class="button is-link is-danger">Add</a>
                    </div>
                </div>
            </div>
        </div>
    </article>

{% endblock %}