{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

{% endblock %}
{% block left_area %}
    <article class="panel is-success">
        <p class="panel-heading">
            Current Menu
        </p>
        <p class="panel-block">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Sed ut efficitur urna. Duis vitae iaculis
            sem. Ut imperdiet, quam non bibendum venenatis, leo nibh
            tristique mi, sit amet rutrum erat quam id lorem.</p>
        <p class="panel-block">Price: 40TL</p>
    </article>

{% endblock %}
{% block middle %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Order-Details
                </h1>
                <h2 class="subtitle">
                    Restaurant-Info
                </h2>
            </div>
        </div>
    </section>
    <div class="column">
        <div class="field">
            <label class="label">Address</label>
            <div class="control">
                <textarea class="textarea" placeholder="Write your address" rows="5"></textarea>
            </div>
        </div>

        <div class="field">
            <label class="label">Mutual Friend Number</label>
            <div class="control">
                <div class="select">
                    <select>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <label>Individual Price: 50</label>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link">Order</button>
            </div>
        </div>
    </div>
{% endblock %}



{% block right_area %}

{% endblock %}