{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

{% endblock %}
{% block left_area %}
    <article class="panel is-success">
        <p class="panel-heading">
            Current Menu - Restaurant Name
        </p>
        <p class="panel-block">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Sed ut efficitur urna. Duis vitae iaculis
            sem. Ut imperdiet, quam non bibendum venenatis, leo nibh
            tristique mi, sit amet rutrum erat quam id lorem.</p>
        <p class="panel-block"><span style="font-weight: bold">Address: </span> Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Sed ut efficitur urna. Lorem ipsum dolor sit amet, consectetur</p>
        <p class="panel-block"><span style="font-weight: bold">Price: </span> 40TL</p>

    </article>
{% endblock %}
{% block middle %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Order Details
                </h1>
                <h2 class="subtitle">
                    Participation: 5/10
                </h2>
            </div>
        </div>
    </section>
    {% for i in range(1,5) %}
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        {% if i == 1 %}
                            <p class="title is-4">Host-Name{{ i }}-Surname{{ i }}</p>
                        {% endif %}
                        {% if i != 1 %}
                            <p class="title is-4">Name{{ i }}-Surname{{ i }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


<div class="buttons">
  <button class="button is-success">Send Order</button>
  <button class="button is-danger">Cancel Order</button>
</div>

{% endblock %}
{% block right_area %}
{% endblock %}