footer {
    text-align: center;
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel {
    margin: 10px;
}

.hero {
    margin-top: 10px;
    background-color: #ab0012 !important;
}

article {
    margin-top: 10px;
}

.card-header-title {
    background: #ab0012 !important;
    color: white !important;
}

.navbar {
    background-color: #cc0000 !important;
}